/* About Us Page Styles */
.about-us-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-us-card {
  width: 600px;
  margin: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  text-align: left;
  box-shadow: 2px 2px 2px #ccc;
}

.about-us-card img {
  width: 100%;
}

.about-us-card h3 {
  font-size: 2em;
  margin-top: 20px;
}

.about-us-card p {
  font-size: 1.2em;
  margin-top: 10px;
}

.about-us-card .cta-button {
  margin-top: 20px;
}
